<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java8LambdaBasics/src/exercise/Unit1ExerciseJava7.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exercise.Unit1ExerciseJava7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java8LambdaBasics"/>
</launchConfiguration>
